.accessLevelChip {
  width: 160px;
  font-size: 14px !important;

  &.all {
    background: rgba(39, 174, 96, 0.3);
    /* Green 2 */
    border: 1px solid #27AE60;
    color: #27AE60;
  }
  &.restricted {
    background: rgba(255, 8, 8, 0.3);
    /* expensive */
    border: 1px solid #FF0808;
    color: #FF0808;
  }
  &.none {
    /* Gray 6 */
    background: #F2F2F2;
    /* Gray 4 */
    border: 1px solid #BDBDBD;
    color: #BDBDBD;
  }
}